header {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
}

header img {
    border-radius: 50%; /* Makes the logo circular */
}

.navbar-brand:hover {
    transform: scale(1.1);
}